body {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  
}

.accordion-container {
  margin: 5vh auto;
  background-color: #fff;
  margin: 10px; 
  
  div {
    border-bottom: 4px solid #fff;
    // transition: border-color 0.5s ease-in;
  }
}

.answer, .summary {
  display: inline-block;
}

.answer {
  padding-right: 10px;
}

.summary {
  font-family: 'Josefin Slab', serif;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 25px;
  padding: 15px;
  &:before {
    content: '>\0000a0';
  } 
}

.folding-pannel {
  display: block;
  color: black;
  // transition: all 2s ease-in;
  line-height: 40px;
}

.active .summary {
  border-color: transparent;
  // transition: border-color 0.2s ease-out;
}

.inactive {
  background: lightslategray;
  &:hover {
    cursor: pointer;
  }
}

.inactive .folding-pannel {
  // transform-origin: 100% 0%;
  // transform: rotateX(-90deg);
  // transition: all 0.1s ease-in-out;
  height: 0;
  background: #fff; 
  display: none;
}

.active {
  background: lightsalmon;
  &:hover {
    cursor: pointer;
  }
}

.active .folding-pannel {
  // transform: rotateX(0deg);
  // transition: all 0.1s ease-in-out;
  height: 100%;
  line-height: 50px;
  background: #fff;
  text-align: center;
  padding: 10px;
}

.hidden {
  display: none;
}